.searchApp
    h2
        text-align: center
        margin-top: 20px
    input.input
        width: 100%
        height: 50px
        margin: 20px 0px
        font-size: 17px
        padding-left: 20px
    .card
        display: flex
        flex-direction: column
        align-items: center
        p
            margin: 10px 0px
        img
            width: 400px